@model List<Incident>
@{
    ViewBag.Title = "Product Manager";
}

<h1>Incident Manager</h1>

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link @(ViewData["Filter"] as string == "All" ? "active" : "")" href="?filter=All">All Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Filter"] as string == "Unassigned" ? "active" : "")" href="?filter=Unassigned">Unassigned Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Filter"] as string == "Open" ? "active" : "")" href="?filter=Open">Open Incidents</a>
    </li>
</ul>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName</td>
                <td>@incident.Product.Name</td>
                <td>@(incident.DateOpened.HasValue ? incident.DateOpened.Value.ToShortDateString() : "N/A")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@incident.IncidentID" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary mb-3">Add Incident</a>
