@model SportsPro.Models.ViewModels.TechIncidentViewModel

@{
    ViewBag.Title = "List Incidents for Technician";
}

<h1>Technician: @Model.Technician.Name</h1>
<h2>Assigned/Open Incidents</h2>

@if (Model.Incidents.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model.Incidents)
            {
                <tr>
                    <td>@(incident?.Title ?? "No Title")</td>
                    <td>@(incident?.Customer?.FullName ?? "Unknown Customer")</td>
                    <td>@(incident?.Product?.Name ?? "Unknown Product")</td>
                    <td>@(incident?.DateOpened?.ToShortDateString() ?? "N/A")</td>
                    <td>
                        <a asp-action="Edit"
                           asp-route-id="@incident.IncidentID"
                           class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No assigned/open incidents for this technician.</p>
}
<a asp-action="Index" class="btn btn-primary">Switch Technician</a>
